body{
margin:0px ;
padding:0px;
//background-image:url('../images/bg_site.jpg');
	background-image: url('../images/fritiof-56_2.jpg');
}
div{
Border-style: solid;
Border-width: 0px;
border-color:#FF0000;
font-family:sans-serif;
font-size:12px;
color:#838383;
}
#page{
background-color: #FFFFFF;
border: 1px #B0B0B0 solid;
 -moz-border-radius: 7px; 
 -webkit-border-radius: 7px;
 -khtml-border-radius:7px;
 border-radius: 7px;
margin-top:20px;
margin-bottom:20px;
box-shadow: 0px 0px 10px #454545;
	padding-top: 20px;
}
#clear{
clear:both;
}
.menu1{
font-family:sans-serif;
font-size:12px;
margin-top:40px;
float:left;
	width: 100%;
}

.menu1 ul, li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu1 li{
	float:left;
	background:#FFFFFF;
	text-align: center;
	padding: 2px 3%;
	margin-left: 1px;
	cursor: pointer;
	border: 1px #FFFFFF solid;
}
.menu1 li a{
font-family:sans-serif;
font-size:13px;
color:#FF8000;
font-weight:bolder;
text-decoration:none;
text-shadow: 0px 1px 0px #B6B6BD;
filter: dropshadow(color=#B6B6BD,offX=0,offY=1);
}
.menu1 li a:hover{
text-decoration:none;
}
.menu1 li:hover{
background: #FFFFFF;
 border: 1px #CCCCCC solid;
 -moz-border-radius: 7px; 
 -webkit-border-radius: 7px;
 -khtml-border-radius:7px;
 border-radius: 7px;
}
/*menu item */
.menu_border{
border-top:1px #CCCCCC solid; 
border-bottom: 1px #CCCCCC solid;
height:30px;
//height:29px; /* style IE */
padding-top:2px;
}
.menu{
background-color:#A3A3A3;
//padding-top:1px; /* style IE */
}
.menu .parent0, .parent0 .lin0 ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu .parent0 .lin0{
	float:left;
	background: #A3A3A3;
	text-align: center;
	padding: 5px 5%;
	//padding: 4px 35px; /* style IE */
	cursor: pointer;
border-left: 1px #FFFFFF solid;
font-family:verdana,tahoma,sans-serif;
font-size:14px;
font-weight:normal;
text-shadow: 0px 1px 0px #76767A;
filter: dropshadow(color=#76767A,offX=0,offY=1);
}
.menu .parent0 .lin0 ul{
	display:none;
	position:absolute;
	text-align: left;
	z-index:999999;
	background-color:#939393;
	width:220px;	
	margin-top:5px;
	//margin-top:4px; /* style IE */
 border: 1px #CCCCCC solid;
 -moz-border-radius: 7px; 
 -webkit-border-radius: 7px; 
 -khtml-border-radius:7px;
 border-radius: 7px;

}
.menu .parent0 .lin0 .parent1{
	margin-left:-20px;
	font-size:90%;
    opacity: 0.9; /* Затемнение */
}
.menu .parent0 .lin0:hover{
	background: #7B7B7B;
}
.menu .parent0 .lin0 li{
	padding:7px 0 4px 8px;
}
.menu .parent0 .lin0 .parent1 .lin1{
padding:7px;	
}
.menu .parent0 .lin0 .parent1 .lin1_arrow{
padding:7px;
background:url('../images/arrow.gif') 205px 13px no-repeat;	
}
/*.menu .parent0 .lin0 .parent1 .lin1_arrow:hover{
padding:7px;
background:url('../images/arrow_over.gif') 195px 13px no-repeat;	
background-color:#7B7B7B;
}
*/
.menu .parent0 .lin0 .parent1  li:hover{
	background-color:#7B7B7B;	
}
.menu .parent0 .lin0 .parent1 .lin1 .parent2,.menu .parent0 .lin0 .parent1 .lin1_arrow .parent2{
	margin-left:195px;
	margin-top:-17px;
	width:220px;
background-color:#ABABAB;	
}
.menu .parent0 .lin0 span, .menu .parent0 .lin0 a{
	text-decoration: none;
	color: #FFFFFF;
	display:block;
}
/* parent 4 */
.menu .parent0 .lin0 .parent1 .lin1 .parent2 .lin2 {
padding:7px;	
}

.menu3{
font-family:sans-serif;
font-size:12px;
margin: 0 auto;
padding-top:10px;
width:50%;
}
.menu3 ul{

}
.menu3 ul, li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu3 li{
	float:left;
	text-align: center;
	padding: 2px 2%;
	margin-left: 1px;
	cursor: pointer;
}
.menu3 li a{
font-family:sans-serif;
font-size:13px;
color:#FFFFFF;
font-weight:normal;
text-decoration:none;
}
.menu3 li a:hover{
text-decoration:underline;
}

.line{
height:3px;
background-color:#CCCCCC;
margin-top: 1px;
margin-right: 5px;
margin-left:5px;
}
.line2{
height:1px;
 background-color:#CCCCCC;
margin: 5px;
}
.line3{
height:1px;
 background-color:#CCCCCC;
margin-bottom: 2px;
}
.logo{
position:absolute;
margin-left:10px;
	z-index: 10;
}

#container{
padding-left:5px;
padding-right:5px;	
}
.left_bl{
	margin-top: 20px;
border: 1px #CCCCCC solid;
border-bottom:0;
width: 100%;

background-image: url('../images/sleepgirl.jpg'); 
background-repeat:no-repeat;
background-position:bottom;
background-color:#FBFBFB;
}

.center_bl{
padding-left:5px;
	margin-top: 20px;
}

#bottom{
height:100px;
background-color:#B2B2B2;
}

.select{
margin:5px;
margin-top:40px;
background-color:#FFFFFF; 
 border: 1px #CCCCCC solid;
 -moz-border-radius: 7px; 
 -webkit-border-radius: 7px; 
 -khtml-border-radius:7px;
 border-radius: 7px;
/* IE */
 //height:340px;
 //background-image: url('../images/select_bg2.png');
 //background-repeat:no-repeat;
 //border:0;
 //padding-top:5px;
}
.block{
margin:5px;
}
.block img{
border: 1px #CCCCCC solid;
display:block; margin:0 auto;
}
h3{
font-family:sans-serif;
font-size:12px;
color:#FF8000;
margin:10px;
text-align:center;
}
h2{
font-family:sans-serif;
font-size:14px;
color:#FF8000;
margin:10px;
}
h4{
font-family:sans-serif;
font-size:12px;
color:#3399FF;
margin:10px;
text-align:center;
font-weight:bold;
}
p{
font-family:sans-serif;
font-size:12px;
color:#6B6B6B;
text-indent:15px;
}
.brends{
padding-top:0px;
padding-left:7px;
}
.brends a img{
float:left;
margin:7px;
margin-top:0px;
border:0;
	margin-left: 3%;
	opacity: 0.7;
}

.brends a:hover img{
	opacity: 1;
}

.copyright{
margin-top:50px;
width:300px;
float:right;
font-family:sans-serif;
font-size:10px;
color:#474747;
text-shadow: 0px 1px 0px #e5e5ee;
filter: dropshadow(color=#e5e5ee,offX=0,offY=1);
}
.copyright a{
color:#474747;
text-shadow: 0px 1px 0px #e5e5ee;
filter: dropshadow(color=#e5e5ee,offX=0,offY=1);
text-decoration:underline;
}
.copyright a:hover{
color:#474747;
text-shadow: 0px 0px 1px #e5e5ee;
filter: dropshadow(color=#e5e5ee,offX=0,offY=1);
text-decoration:underline;
}

.content_page{
	padding-top: 20px;
padding-left:5px;
}
.content_page ol{
width:370px;
float:left;
list-style-type:decimal;
}
.content_page ul,ol li{
font-family:sans-serif;
font-size:12px;
color:#838383;
list-style-type:decimal;
}
table .settings{
width:400px;
}
.content_page img{
padding-right:5px;
float:left;
}
.settings td{
height:20px;
padding:2px 20px 2px 20px;
background-color:#F2F2F2;
font-family:sans-serif;
font-size:10px;
color:#333333;
font-weight:bold;
text-align:center;
}

table .price{
background-color:#CCCCCC;
width:100%;
margin: 0 auto;
}

.price td{
background-color:#F5F5F5;
height:20px;
font-family:sans-serif;
font-size:10px;
color:#333333;
text-align:center;
	border: 1px solid white;
}
.zoom_img{
font-family:sans-serif;
font-size:8px;
color:#333333;
margin:5px 10px 5px 0px;
float:left;
border: 1px #CCCCCC solid;
width:295px;
	cursor: move;
}
.zoom_img img{
border:0;
}

.zoom_img {
	display:inline-block;
	position: relative;
}

/* magnifying glass icon */
.zoom_img:after {
	content:'';
	display:block;
	width:33px;
	height:33px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/icon.png);
}

.zoom_img img {
	display: block;
}
.zoom_img img::selection { background-color: transparent; }

#ex1 img:hover { cursor: url(../images/grab.cur), default; }
#ex1 img:active { cursor: url(../images/grabbed.cur), default; }

.item_img_top{
float:left;
border: 1px #CCCCCC solid;
margin-top:5px;
margin-right:10px;
}
.item_img_top img{
width:300px;
}
.menu4{
float:right;

}
.content_bottom {
margin:0 auto;width:500px;height:64px;
margin-bottom:10px;
}
.matress{
width:100%;
Border-style: solid;
Border-width: 0px;
padding:10px;
}
.matress td{
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
}
.matress select,input{
width:100%;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
padding:3px;
background-color:#F0F0F0;
 border: 1px #CCCCCC solid;
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 -khtml-border-radius:5px;
 border-radius: 5px;
}
.button{
width:100%;
height:24px;
font-family:sans-serif;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
padding:3px;
background-image: url('../images/button2.png'); 
border:0;
cursor: pointer;
}
.button:hover{
box-shadow: 0px 0px 5px #FF8000;
}
.price_select{
width:45%;
float:left;
}
.list_item{
margin-bottom:25px;
cursor:pointer;
}
.list_item img{
float:left;
border:0;
margin-right:10px;
width:140px;
height:92px;
border: 1px #CCCCCC solid;
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
 -khtml-border-radius:7px;
 border-radius: 7px; 
}
.list_item a{
float:left;
margin-right:10px;
margin-top: -10px;
font-family:sans-serif;
font-size:12px;
color:#838383;
text-decoration:underline;
}
.list_item a:hover{
text-decoration:none;
}
.sale_box{
float:right;
height:26px;
margin-top: -10px;
font-family:Arial;
font-size:12px;
color:#848484;
background:url(../images/sale_bg3.png);
font-weight:bolder;
}
.font_sale{
font-size:10px;
}
.sort{
width:210px; float:right; margin-top:0;font-family:sans-serif;
font-size:10px;
color:#5B5B5B;
}
.sort a{
font-size:12px;
color:#FF8000;
text-decoration:underline;
font-weight:bolder;
}
.sort a:hover{
color:#FF8000;
text-decoration:none;
}
.video_box{margin-top:30px;
width:560px;margin-left:70px;background:#808080;border: 1px #777777 solid;
}
.video_panel{
height:15px;font-family:sans-serif;margin-left:2px;padding:3px;
font-size:10px;
color:#FFFFFF;
}
.video_panel a{
color:#ECECEC;float:right; margin-right:10px;
}
.video_panel a:hover{
text-decoration:none;
}

iframe{
width:560px; height:315px;border-bottom: 1px #777777 solid;
}

table .select_item{
width:100%;
margin: 0 auto;
}
table .head_table{
background-color:#DADADA;
font-weight:bold;
}
.select_item td{
height:20px;
font-family:sans-serif;
font-size:11px;
color:#333333;
text-align:center;
}
.select_item .row_select{
cursor:pointer;
background-color:#ECECEC;
}
.select_item .row_select:hover{
background-color:#FFFFFF;
}
.sortseach{
width:210px; float:right; margin-top:0;font-family:sans-serif;
font-size:10px;
color:#5B5B5B;
}
.sortseach a{
font-size:12px;
color:#FF8000;
text-decoration:underline;
font-weight:bolder;
}
.sortseach a:hover{
color:#FF8000;
text-decoration:none;
}
.content ul li{
list-style-image: url('../images/ic008.gif');
}
.content a{
font-size:12px;
color:#FF8000;
text-decoration:none;
}
.content a:hover{
color:#FF8000;
text-decoration:underline;
}
div.floating{
display:none;position:absolute;z-index:10000;
width:200px;background-color:#FFFFCC;border: 1px #CCCCCC solid;padding:5px;
 -moz-border-radius: 7px; 
 -webkit-border-radius: 7px; 
 -khtml-border-radius:7px;
 border-radius: 7px;
-moz-box-shadow: 2px 2px 3px #969696;
	-webkit-box-shadow: 2px 2px 3px #969696;
	box-shadow: 2px 2px 5px #969696;
}
div.floating h2{
font-family:sans-serif;
font-size:12px;
color:#FF8000;
margin:3px;
}
div.floating p{
font-family:arial;
font-size:11px;
color:#6B6B6B;
text-indent:5px;
margin:3px;
}
div.floating img{
float:left;
margin-right:5px;
margin-top:5px;
margin-bottom:5px;

}
div.floating .line{
width:99%;
height:1px;
background-color:#CCCCCC;
}
div.discount_list{
width:50px;
height:50px;
float:right;
margin-top:-110px;
margin-right:-10px;
background-image:url('../images/discount_sm.gif');
text-align:center;
line-height:50px;
color:#FFFFFF;
font-size:16px;
font-weight:bold;
font-family:Arial;
}
div.discount{
width:70px;
height:70px;
margin-top:-10px;
margin-left:250px;
//margin-left:-70px;
float:left;
z-index:99999;
position:absolute;
//position:relative;
background-image:url('../images/discount.gif');
text-align:center;
line-height:70px;
color:#FFFFFF;
font-size:20px;
font-weight:bold;
font-family:Arial;
}

.colorpalet img{
margin-left:7px;
}

.left_bl_image{
	width:250px; height:100px
}



@media (min-width:992px){
	.container{
		width: 100%;
		max-width:970px
	}
}
@media (min-width:1200px){
	.container{
		width: 100%;
		max-width: 1400px;
	}
}

@media (max-width: 992px){
	.menu1{
		margin-top: 130px;
	}
	.brends a img{
		margin-left: 0;
	}
	.left_bl{
		background: none;
	}
	.left_bl_image{
		display: none;
	}
	.menu .parent0 .lin0{
		padding: 5px 2%;
	}
	.menu1 li{
		padding: 2px 1%;
	}
	.menu3{
		width:100%;
	}
	.menu3 li{
		padding: 2px 1%;
	}
}

@media (max-width:1200px){
	.brends a img{
		margin-left: 0;
	}
	.menu .parent0 .lin0{
		padding: 5px 3%;
	}

	.menu3{
		width:70%;
	}
	.menu3 li{
		padding: 2px 1%;
	}
}